:root {
    --primary-color: #223439;
    --primary-color-dark: #1b1f24;
    --secondary-color: #a9fb50;
    --text-dark: #333333;
    --text-light: #a3a3a3;
    --white: #ffffff;
    --max-width: 1200px;
    --gradient-1: linear-gradient(to bottom, var(--primary-color), #1d2127);
    --gradient-2: linear-gradient(to bottom, #317fec, #35e4df);
  }