*{
    font-family: 'Courier New', Courier, monospace;
}

body{
    height: 100vh;
}

a{
    text-decoration: none;
    display: block;
}

nav > a{
 display: inline;
}


nav{
    text-align: center;
}

nav  li{
    list-style-type: none;
}
